/* ARCHIVO: frontend/src/shared/components/table/table.css */

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-family);
}

.table th {
  text-align: left;
  padding: var(--spacing-md);
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text);
}

.table td {
  padding: var(--spacing-md);
  border-bottom: 1px solid var(--color-border);
}

.table tbody tr:hover {
  background-color: var(--color-hover);
}