/* ARCHIVO: frontend/src/shared/components/modal/modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--color-surface);
  padding: var(--spacing-lg);
  border-radius: var(--radius);
  box-shadow: var(--shadow-md);
  min-width: 300px;
}